<mat-toolbar color="primary">
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Pesquisar</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" placeholder="Pesquise o ativo">
      <mat-icon matPrefix>search</mat-icon>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-toolbar>