:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

form {
  display: flex;
  flex-direction: column;
}

mat-card {
  border: 1px solid rgb(201, 201, 201);
  padding: 10px;
  /* background-color: #D6C292; */
  border-radius: 5px;
}

mat-card-header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

mat-card-title {
  font-size: x-large;
}

mat-form-field {
  width: 100%;
  min-width: 300px;
  margin-bottom: 10px;
}

.button_login {
  display: flex;
  flex-direction: column;
}

.button_login > span {
  margin-bottom: 10px;
  margin-top: 10px;
}

.button_login > button {
  height: 30px;
  /* background-color: #678C99; */
}