<div class="header">
  <h1 mat-dialog-title>Login</h1>
</div>
<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Usuário:</mat-label>
      <input matInput type="string" id="username" placeholder="Username" formControlName="username"
        requiredminlength="5" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Senha:</mat-label>
      <input matInput type="password" id="password" placeholder="Password" formControlName="password"
        requiredminlength="8" required>
    </mat-form-field>
  </form>
  <!-- <span>Esqueci minha senha</span> -->
  <mat-spinner *ngIf="loading" style="position: absolute; left: 40%; top: 40%; opacity: 0.3"></mat-spinner>
  <a routerLink="">Esqueci minha senha</a>
</mat-dialog-content>
<mat-dialog-actions>
  <!-- <div class="button_login"> -->
  <!-- <span>Esqueci minha senha</span> -->
  <button type="button" mat-raised-button [disabled]="!form.valid" (click)="onLogin()" color="primary">Entrar</button>
  <!-- </div> -->
  <!-- <div class="button_login"> -->
  <button type="button" mat-button (click)="onCancel()">Cancelar</button>
  <!-- </div> -->
</mat-dialog-actions>