:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0px;
}

form {
  display: flex;
  flex-direction: column;
}

.header h1 {
  text-align: center;
}

mat-form-field {
  width: 100%;
  min-width: 300px;
  margin-bottom: 10px;
}
